.logo-scroll-container {
  overflow: hidden;
  white-space: nowrap;
}

.logo-scroll {
  display: flex;
  align-items: center;
  animation: scroll 30s linear infinite;
}

.logo {
  display: inline-block;
  margin-right: 50px; 
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
